@charset "UTF-8";

.north1 {
	height: 10%;
	background-color: #003333;
}

.south1 {
	height: 12%;
	background-color: #003333;
}

.a {
	text-decoration: none;
}

.label1 {
	color: white;
}

.label2 {
	margin-left: 42%;
	color: white;
}
.label3 {
	font-size: 25px;
}

.vlayout1 {
	border: 0px solid;
	margin-left: 10%;
	height: 120%;
}

.textbox1 {
	margin-left: 11%;
}

.textbox2 {
	margin-left: 12%;
}

.textbox3 {
	margin-left: 18%;
}

.textbox4 {
	margin-left: 15%;
}

.textbox5 {
	margin-left: 17%;
}
.textbox6 {
	margin-left: 5%;
}
.textbox7 {
	margin-left: 3%;
}

.button1 {
	margin-left: 8%;
	margin-top: 0%;
	background-color: white;
	color: black;
	border: 1px solid;
	font-size:100%;
}

.combox1{
	
	width: 62%;
	margin-left: 5%;
	
	
	
}