@charset "UTF-8";

.borderlayout1 {
	
}

.north1 {
	height: 10%;
	background-color: #003333;
}

.south1 {
	height: 15%;
	background-color: #003333;
}

.west1 {
	width: 50%;
	border: 0px solid;
	background-image: url('login.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.east1 {
	width: 50%;
	border: 0px solid;
	background-image: url('login.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
	
}

.vlayout1 {
	border: 0px solid;
	margin-top: 10%;
	margin-left: 20%;
}

.label1 {
	font-size: 35px;
}

.textbox1 {
	margin-left: 5%;
	
	
}

.a {
	text-decoration: none;
}

.label2 {
	color: white;
}

.label3 {
	margin-left: 42%;
	color: white;
}

.button1 {
	margin-left: 0px;
	background-color: white;
	color: black;
	border: 1px solid;
}