@charset "UTF-8";

.north1 {
	height: 10%;
	background-color: #003333;
	position: fixed;
}

.south1 {
	height: 15%;
	background-color: #003333;
}

.a {
	text-decoration: none;
}

.label1 {
	color: white;
}

.label2 {
	margin-left: 30%;
	color: white;
}

.label3 {
	font-size: 25px;
}

.vlayout1 {
	border: 0px solid;
	margin-left: 0%;
}